.avatar {
  max-width: 100%;
  width: 1.5rem;
  height: 1.5rem;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  border-radius: 0.25rem;
  border-radius: 50%;
  margin-right: .5rem;
}
